<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Park King</title>

        <link rel="stylesheet" href="/stylesheet/style.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <!-- <style>
      body {
        background-image: url("../colors/ColorBackGroundGreen.jpg");
        background-size: cover;
      }
    </style> -->
    <body>

      <% include partials/menuBar %>
      <div id="main">
        <div class="statusDiv white" style="color: black;">
              <h3><strong>Building Info</strong></h3>
              <p>Building name: <%= reserveBuildingname %>
                <br>
                Floor: <%= reserveFloor %>
                <br>
                Slot: <%= reserveSlot %>
              </p>
        </div>
        <div style="margin-bottom: 20px; margin-top: 40px; z-index: -10;" class="container-fluid">
          <img src="data:image/png;base64,<%= reserveCarPicture %>" class="img-fluid" alt="">
        </div>
        <div class="statusDiv white" style="color: black;">
          <h3><strong>Car Info</strong></h3>
          <p>
            Plate Number: <%= reservePlatenumber %>
            <br>
            Brand: <%= reserveBrand %>
            <br>
            Model: <%= reserveModel %>
            <br>
            Color: <%= reserveColor %>
          </p>
        </div>
        <div class="statusDiv white" style="color: black;">
            <h3><strong>Parking Time</strong></h3>

            <div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
    40%
  </div>
</div>
        </div>
        <div class="statusDiv white" style="color: black;">
              <h3><strong>Current Parking Fee</strong></h3>
              <p>100 Baht</p>
        </div>


    </div>





        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>
