<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Profile Page</title>

        <link rel="stylesheet" href="/stylesheet/style.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="img/icons/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/stylesheet/loginUtil.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/login1.css">
    </head>

    <body>

        <% include partials/menuBar %>

        <div id="main">
            <div id="profileDiv" style="background: white; color: black;">
                <img src="data:image/png;base64,<%= userPicmenu %>" width="70px" height="70px" alt="" class="rounded-circle"><br>
                <h3><strong>Profile</strong></h3>
                <a href="/"><img src="/img/edit.png" width="10px" height="10px" alt=""></a>
                <p>
                    Name: 
                    <%= currentUser[3] %>
                    <%= currentUser[4] %>
                    <br>
                    TYPE: <%= currentUser.customerType %>
                    <%= currentUser[5] %>
                    <br>
                    ID: <%= currentUser.id %>
                    <%= currentUserID %>




                </p>
            </div>
            <div id="myCarDiv" class="statusDiv" style="background: white; color:black;">
                <h3><strong>My Car</strong></h3>
                <a href="/carregister"><img src="/img/edit.png" width="10px" height="10px" alt=""></a>
                <div class="container border mt-2">
                    <div class="row" id="car1" class="border">
                        <div class="col p-3">
                            <img src="img/car1.png" width="50%">
                            <br>
                            ภค 9999
                            <br>
                            <a href="/">Edit Car</a>
                        </div>
                    </div>
                </div>
                <div class="container border">
                    <div class="row" id="car2" class="border">
                        <div class="col p-3">
                            <img src="img/car1.png" width="50%">
                            <br>
                            ภภ 9900
                            <br>
                            <a href="/">Edit Car</a>
                        </div>
                    </div>
                </div>
                <!-- <div class="container-login100-form-btn mb-2">
                    <button class="login100-form-btn">
                        Edit
                    </button>
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Add
                    </button>
                </div> -->
            </div>

            <div id="historyDiv" class="statusDiv" style="background: white; color: black;">
                <h3><strong>History</strong></h3>
                <div class="card-header mt-2">
                    History
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">12/09/2019 Arts 2 hrs 40thb</li>
                    <li class="list-group-item">11/09/2019 Arts 3 hrs 50thb</li>
                    <li class="list-group-item">10/09/2019 Arts 4 hrs 60thb</li>
                </ul>

            </div>
        </div>


        <script src="classes.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.js.map"></script>
    </body>
</html>
