<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Park King</title>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

</head>
<body>

  <% include partials/menuBar %>
  <% include partials/flash %>

    <div class="main-user-info">

            <div class="infoDiv dark-grey-div-gradient center">
                <li><h2>My Profile</h2></li>
                <li><img src="data:image/png;base64,<%= currentPicture %>" style="  width: 70px;
                  height: 70px;
                  border-radius: 50%;"></li>
                <h3><strong><%= currentUsername %></strong></h3>
                  <!-- <p>
                      Name: <%= currentFirstname %> <%= currentLastname %>
                      <br>
                      Email: <%= currentEmail %>
                      <br>
                      TYPE: <%= currentCustomerType %>
                      <br>
                      ID: <%= currentID %>
                  </p> -->
                  <section class="info-text-div">
                        <span>Name:</span>
                        <span><%= currentFirstname %> <%= currentLastname %></span>
                    </section>
                    <section class="info-text-div">
                        <span>Email:</span>
                        <span><%= currentEmail %></span>
                    </section>
                    <section class="info-text-div">
                        <span>Csutomer Type:</span>
                        <span><%= currentCustomerType %></span>
                    </section>
                    <section class="info-text-div">
                        <span>ID:</span>
                        <span><%= currentID %></span>
                    </section>
                <li style="margin-top: 30px;"><a href="/edituserinfo" class="button green">Edit profile</a></li>
            </div>

            <div class="infoDiv dark-grey-div-gradient center">
                <h2>My Car</h2>

                <% for(i = 0; i < currentPlateNumber.length; i++){ %>
                  <div class="car-div">
                    <li><img src="data:image/png;base64,<%= currentCarPicture[i] %>" width="50%" style="border-radius:10px;"></li>
                    <li style="padding-bottom: 20px;">Plate Number : <%=currentPlateNumber[i]%><br>
                                                      Province : <%=currentPlateProvince[i]%><br>
                                                      Brand : <%=currentBrand[i]%><br>
                                                      Model : <%=currentModel[i]%><br>
                                                      Color : <%=currentColor[i]%></li>
                  <form action="/deletecar/<%= i %>" class="deletecar" enctype="multipart/form-data" method="POST">
                    <li><button type="submit" class="button purple" style="width: auto;">Delete Car</button></li>
                  </form>
                  </div>
                <% } %>
                <script>
                $('form.deletecar').submit(function(event){
                        var r = confirm("Delete this car?");
                        if (r == true) {
                          return;
                        } else {
                          return false;
                      }
                      });
                </script>

                <li>
                    <a href="/carregister" class="button green">Add Car</a>
                </li>


            </div>

            <div class="infoDiv dark-grey-div-gradient center">
                <!-- <ul class="list-group list-group-flush">
                    <li class="list-group-item">12/09/2019 Arts 2 hrs 40thb</li>
                    <li class="list-group-item">11/09/2019 Arts 3 hrs 50thb</li>
                    <li class="list-group-item">10/09/2019 Arts 4 hrs 60thb</li>
                </ul> -->
                <li><h2>History</h2></li>

                <% for(i = 0; i < totalTransaction.length; i++){ %>
                  <div class="history-div">
                  <form action="/receipt/<%= i %>" class="receipt" enctype="multipart/form-data" method="POST">
                    <li>
                        <button type="submit" class="link-like-button">
                            Date: <%= receiptDate[i] %> Building: <%= receiptBuilding[i] %> Duration: <%= receiptTotaltime[i] %> Minutes Price: <%= receiptFee[i] %> Baht
                        </button>
                    </li>
                  </form>
                  </div>
                <% } %>
            </div>

        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>
